<%-// include ("./partials/header") %>
<!-- <div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div> -->
<%-// include ("./partials/footer")%>



<%-// include ("./partials/header") %>
<!-- <h1>This is the Sign-Up page!</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Sign Up</button>
</form> -->
<%-// include ("./partials/footer")%>

<%- include ("./partials/header") %>
 <form action="/register" method="POST" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!-- <label for="adminCode" class="sr-only">Admin Code</label> -->
  <input type="text" name="adminCode" class="form-control" placeholder="Admin Code">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>
  <div class="form-signin">
	  <p>Do not have an account yet? <a href="/login">Login</a></p>
	   <a href="/campgrounds">Go Back</a>
  </div>
<%- include ("./partials/footer")%>