<%- include ("../partials/header") %>

	<% if(currentUser && currentUser.isAdmin){ %>
		<h1>Welcome Admin</h1>
	<%}%>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Welcome To YelpCamp!</h1>
      <p class="lead text-muted">View our hand-picked campgrounds from all over ther world</p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary my-2">Add New Campground</a>
		<% if(!currentUser){ %>
        	<a href="/login" class="btn btn-secondary my-2">Sign In!</a>
		<%} else { %>
		  	<a></a>
		<%} %>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
		
      <div class="row">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-4">
			  <div class="card mb-4 shadow-sm">

				<img class="card-img-top" src="<%= campground.image %>"> 
				<div class="card-body text-center">
				  <h5 class="card-title"><%=campground.name %></h5>
				  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
				  <a  href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View</a>
				</div>
			  </div>
			</div>
		<%});%>
        
</main>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
	  <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
  </div>
</footer>
<%- include ("../partials/footer") %>







